<!DOCTYPE html>
<html>
<head>
    <title>DEVICE GLITCHER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
    </style>
</head>
<body>

<div class="header">
    <h1>DEVICE GLITCHER</h1>
</div>

<div class="main">
    <select id="actionSelect">
      <option selected disabled>-- SELECT OPTION --</option>
    </select>
    <div class="card">
        <h3 id="title">Command</h3>

        <div id="formArea"></div>

        <button onclick="runCommand()">Run</button>

        <div class="status" id="status"></div>
        <div class="output" id="output"></div>
    </div>
</div>







<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
